<!DOCTYPE html>
<head>
</head>

<body>

      <div class="container" style="">
        <img src="" style="" width="128" height="128">

        <% if user_signed_in? %>
            <%= button_to "Add Location", show_map_path(), :class => "button medium", :method => :get %>
            <%= button_to "Profile", users_path(), :class => "button medium", :method => :get %>
            <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= button_to('Login', new_user_session_path)  %>
        <% end %>

      </div>

      <footer class="footer">
        <p>© GemRats 2018</p>
      </footer>

</body>
</html>
