<!DOCTYPE html>
<head>
</head>

<body>

    <div class="banner">
    <div class="container"><!-- Your 960 grid -->
       <div class="row">
         <div class="six columns offset-by-three">
          <div class="herotext">
            City routes by locals and travellers

            <% if user_signed_in? %>
            <%= button_to "Get Started", new_route_path, :class => "button button-primary", :method => :get %>
            <% end %>
          </div>
        </div>
    </div>
</div>
</div>
  
      <div class="container" style="">

        <% if user_signed_in? %>
            <%= button_to "Add Location", show_map_path(), :class => "button medium", :method => :get %>
            <%= button_to "Add a Review", reviews_path(), :class => "button medium", :method => :get %>
        <% else %>
          <%= button_to('Login', new_user_session_path)  %>
        <% end %>

      </div>
</body>
</html>
