<p>Find me in app/views/routes/index.html.erb</p>

<h1>Explore</h1>
<% if not @routes.nil? %>
  <table style="width:100%">
    <tr>
      <th>Route Name</th>
      <th>Owner</th>
      <th>Link to Route</th>
    </tr>
    <tbody>
      <% Route.all.each do |r| %>
        <tr>
          <td><%= r.title %></td>
          <td><%= @users.where(id: r.user_id) %></td>
          <td>link</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Add a route!</h3>

<% end %>
