<h1>Explore</h1>
<% if not @routes.nil? %>
  <table style="width:100%">
    <tr>
      <th>Route Name</th>
      <th>Owner</th>
      <th>City</th>
      <th>Upvotes</th>
    </tr>
    <tbody>

      <% @routes.each do |r| %>
        <tr>
          <%= render r %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Add a route!</h3>
<% end %>
